h1 {
    color: rgb(66, 145, 219);
    font-style: italic;
    font-size: 140%;
    background-color: aliceblue;
    
  }

button{
  background-color: aquamarine;
  font-style: italic;

}

p{
  color: burlywood;
}

label {
  color: blueviolet;
}

body {
  background-color: azure;
}
